
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body {
  font-family: 'Lato', sans-serif;
  padding: 30px;
  background-color: #666666;

}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main {
  /* height: 90px; */
  /* white-space: nowrap; */
  overflow: hidden;
  font-family: 'Source Code Pro', monospace;
  font-size: 28px;
  color: rgba(255, 255, 255, .70);
  position: relative;
}
#border {
  border-bottom: solid 3px rgba(0, 255, 0, .75);
  position: absolute;
  right: -7px;
  /* width: 20px; */
}
/* Animation */
#main {
  animation: animated-text 2s steps(30, end) 1s 1 normal both
}
#border {
  animation: animated-cursor 600ms steps(30, end) infinite;
}
/* text animation */
/* @keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */
/* cursor animations */
@keyframes animated-cursor {
  from {
    border-bottom-color: rgba(0, 255, 0, .75);
  }
  to {
    border-bottom-color: transparent;
  }
}


.heading {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  color: rgb(85,26,139);
}